@charset "UTF-8";

body {
    overflow-x: hidden;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: rgb(5, 5, 5);
}

a {
    text-decoration: none;
}

img {
    max-width: 55%;
}

h1 {
    font-size: 5rem;
    letter-spacing: 33px;
}

h2 {
    font-size: 3rem;
    padding: 5% 0 1%;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
    letter-spacing: 4px;
}

p {
    font-size: 1.2rem;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 5%;
}

/* ヘッダー */

.page-header {
    width: 100%;
    height: 100px;
    background-color: rgb(223, 220, 220);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.4rem solid rgb(181, 179, 179);
}

.logo {
    width: 70px;
    margin-top: 10px;
    margin-left: 180px;
    margin-bottom: 10px;
}

.main-nav {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 35px;
    margin-right: 180px;
    list-style: none;
}

.main-nav li {
    margin-left: 40px;
}

.main-nav a {
    color: rgb(5, 5, 5);
}

.main-nav a:hover {
    color: rgb(136, 140, 141);
}

/* HOME */

.homephoto {
    margin: 100px 0 0 0;
    max-width: 100%;
    width: 100vw;
    height: 650px;
    object-fit:cover;
    position:relative;
}

.home-content {
    text-align: center;
    position:absolute;
    top: 60%;
    left: 40%;
}

.portfolio,.subportfolio {
    animation-name: fadeInAnime;
    animation-fill-mode:forwards;
    animation-duration:6s;
    animation-timing-function:ease;
    animation-direction:normal;
}

@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.prev-about {
    position:relative;
}

.draw-a {
    writing-mode: vertical-rl;
    position:absolute;
    top: 35%;
    left: 80%;
}

.prev-about h3 {
    padding-top: 10%;
    padding-left: 6%;
    padding-bottom: 5%;
}

.prev-about p {
    padding-top: 2%;
    padding-left: 6%;
}

.amo {
    padding-top: 60px;
    border-bottom: 12rem solid rgb(241, 239, 239);
}

.about-more {
    font-size: 1.125rem;
    color: rgb(178, 174, 174);
    border: dotted rgb(178, 174, 174);
    border-radius: 50%;
    padding: 35px 25px;
    margin-left: 50%;
}

.about-more:hover {
    font-size: 1.125rem;
    color: rgb(202, 198, 198);
    border: dotted rgb(202, 198, 198);
    border-radius: 50%;
    padding: 35px 25px;
    margin-left: 50%;
}

.draw-a,.prev-about h3 {
    animation-name: slideinLeft;
    animation-fill-mode:forwards;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-direction:normal;
}

.prev-about p {
    animation-name: slideinLeft;
    animation-fill-mode:forwards;
    animation-duration:4s;
    animation-timing-function:ease-in;
    animation-direction:normal;
}

@keyframes slideinLeft{
    0% {
        transform: translateX(-100px);
    }
  
    100% {
        transform: translateX(0px);
    }
}

.work-show {
    padding: 5% 0;
    position:relative;
}

.draw-w {
    writing-mode: vertical-rl;
    position:absolute;
    top: 20%;
    left: 10%;
}

.prev-work {
    list-style: none;
    padding-bottom: 70px;
}

.prev-work li {
    padding: 5% 0 0 15%;
    text-align: center;
}

.prev-work p {
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
    width: 100%;
}

.prev-work img {
    max-width: 60%;
}

.work-more {
    font-size: 1.125rem;
    color: rgb(178, 174, 174);
    border: dotted rgb(178, 174, 174);
    border-radius: 50%;
    margin-left: 75%;
    padding: 35px 25px;
}

.work-more:hover {
    font-size: 1.125rem;
    color: rgb(202, 198, 198);
    border: dotted rgb(202, 198, 198);
    border-radius: 50%;
    margin-left: 75%;
    padding: 35px 25px;
}

/* ABOUT */

.aboutphoto {
    margin: 100px 0 0 0;
    max-width: 100%;
    width: 100vw;
    height: 700px;
    object-fit:cover;
    position: relative;
}

.about-screen {
    text-align: center;
    background-color: rgba(255,255,255,.5);
    border-radius: 10%;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
}

.myname {
    font-size: 1.5rem;
    padding-top: 10%;
}

.like {
    text-align: left;
    padding: 5% 10% 15%;
}

.like p {
    padding-top: 5px;
}

.about-screen h2,h4,.myname,.like {
    animation-name: fadeInAnime;
    animation-fill-mode:forwards;
    animation-duration:6s;
    animation-timing-function:ease;
    animation-direction:normal;
}

@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.career {
    margin: 5% 20%;
}

.border {
    border-bottom: solid rgb(223, 220, 220);
}

.skill {
    margin: 5% 20%;
}

.about-block {
    padding: 5% 3%;
}

.aboutslist {
    list-style: none;
    padding-top: 10px;
}

.aboutslist p {
    padding-top: 20px;
    padding-left: 10px;
}

.career h2 {
    animation-name: slideinLeft;
    animation-fill-mode:forwards;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-direction:normal;
}

.career p {
    animation-name: slideinLeft;
    animation-fill-mode:forwards;
    animation-duration:4s;
    animation-timing-function:ease-in;
    animation-direction:normal;
}

.skill h2 {
    animation-name: slideinLeft;
    animation-fill-mode:forwards;
    animation-duration:6s;
    animation-timing-function:ease-in;
    animation-direction:normal;
}

.skill p {
    animation-name: slideinLeft;
    animation-fill-mode:forwards;
    animation-duration:8s;
    animation-timing-function:ease-in;
    animation-direction:normal;
}

@keyframes slideinLeft{
    0% {
        transform: translateX(-100px);
    }
  
    100% {
        transform: translateX(0px);
    }
}

.gray {
    background-color: rgb(239, 237, 237);
    display:inline-block;
}

/* WORK */

.work-content {
    margin: 100px;
    text-align: center;
}

.work {
    list-style: none;
    padding-top: 80px;
}

.work li {
    padding-bottom: 100px;
}

.work p {
    padding-top: 10px;   
}

.blur img{
	filter: blur(0);
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.blur a:hover img{/*hoverした時の変化*/
	filter: blur(3px);/*ぼかし具合を変更したい場合はこの数値を変更*/
}

.mask{
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}

/* CONTACT */

.contact {
    margin: 100px;
    text-align: center;
}

.contact-content {
    text-align: center;
    padding: 0 20% 8%;
}

form div {
    margin-bottom: 20px;
}

label {
    font-size: 0.8rem;
    display: block;
}

.seimei {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

input[type="text"] {
    background: rgba(255,255,255,.5);
    border-bottom: 1px #050505 solid;
    padding: 10px 35px;
    font-size: 1rem;
}

input[type="text"]:hover {
    background: rgba(255,255,255,.5);
    border-bottom: 1px #9d9c9c solid;
    padding: 10px 35px;
    font-size: 1rem;
}

input[type="email"],input[type="phonenumber"],textarea {
    background: rgba(255,255,255,.5);
    border-bottom: 1px #050505 solid;
    padding: 10px 180px;
    font-size: 1rem;
}

input[type="email"]:hover,input[type="phonenumber"]:hover,textarea:hover {
    background: rgba(255,255,255,.5);
    border-bottom: 1px #9d9c9c solid;
    padding: 10px 180px;
    font-size: 1rem;
}

input[type="text"],input[type="email"]input[type="phonenumber"] {
    width: 100%;
    max-width: 500px;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 6rem;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}

.button {
    margin: 0 0 0 70%;
    font-size: 1rem;
    background: rgb(5, 5, 5);
    color: #fff;
    border-radius: 30px;
    padding: 20px 40px;
}

.button:hover {
    background: #f7f8f9;
    color: rgb(5, 5, 5);
    border-style: solid;
    border-color: rgb(5, 5, 5);
}

/* フッター */

footer {
    background: rgb(223, 220, 220);
    padding: 30px 180px 30px 180px;
    display: flex;
    justify-content: left;
}



.tel-mail {
    list-style: none;
}

.sns {
    display: flex;
    justify-content: left;
    list-style: none;
}

/* モバイル */
@media (max-width: 800px) {
    
    img {
        max-width: 80%;
    }
    
    h1 {
        font-size: 3rem;
        letter-spacing: 18px;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h4 {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    
    p {
        font-size: 1rem;
    }
    
    /* ヘッダー */
    
    .page-header {
        height: 80px;
        border-bottom: 0.3rem solid rgb(181, 179, 179);
    }
    
    .logo {
        width: 55px;
        margin-top: 5px;
        margin-left: 50px;
        margin-bottom: 5px;
    }
    
    .main-nav {
        font-size: 0.8rem;
        margin-top: 25px;
        margin-right: 50px;
    }
    
    .main-nav li {
        margin-left: 30px;
    }
    
    /* HOME */
    
    .homephoto {
        margin: 80px 0 0 0;
        height: 500px;
        position:relative;
        width: 110%;
    }
    
    .home-content {
        position:absolute;
        top: 57%;
        left: 22%;
    }
    
    .prev-about h3 {
        padding-left: 5%;
    }
    
    .prev-about p {
        padding-left: 5%;
        padding-right: 25%;
    }
    
    .amo {
        border-bottom: 10rem solid rgb(241, 239, 239);
        width: 110%;
    }
    
    .about-more {
        font-size: 1rem;
    }
    
    .about-more:hover {
        font-size: 1rem;
    }
    
    .prev-about p {
        animation-name: slideinLeft;
        animation-fill-mode:forwards;
        animation-duration:3s;
        animation-timing-function:ease-in;
        animation-direction:normal;
    }
    
    @keyframes slideinLeft{
        0% {
            transform: translateX(-100px);
        }
      
        100% {
            transform: translateX(0px);
        }
    }
    
    .work-show {
        padding: 5% 0 10% 0;
        position:relative;
    }
    
    .draw-w {
        position:absolute;
        left: 5%;
    }
    
    .prev-work li {
        padding: 15% 0 0 15%;
    }
    
    .prev-work p {
        font-size: 0.8rem;
        padding-top: 20px;
    }
    
    .prev-work img {
        max-width: 60%;
    }
    
    .work-more {
        font-size: 1rem;
    }
    
    .work-more:hover {
        font-size: 1rem;
    }
    
    /* ABOUT */
    
    .aboutphoto {
        margin: 80px 0 0 0;
        position: relative;
    }
    
    .about-screen {
        width: 80%;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    
    .career {
        margin: 5% 15% 10%;
    }
    
    .skill {
        margin: 5% 15%;
    }
    
    .about-block {
        padding: 5%;
    }
    
    .aboutslist p {
        padding-left: 5px;
    }
    
    /* CONTACT */
    
    .contact {
        margin: 50px;
    }
    
    .contact-content {
        padding: 0 10% 8%;
    }
    
    input[type="text"] {
        padding: 10px;
    }
    
    input[type="text"]:hover {
        padding: 10px;
    }

    input[type="email"],input[type="phonenumber"],textarea {
        padding: 10px 115px;
    }
    
    input[type="email"]:hover,input[type="phonenumber"]:hover,textarea:hover {
        padding: 10px 115px;
    }
    
    /* フッター */
    
    footer {
        padding: 20px 270px 20px 50px;
        width: 110%;
    }
    
    footer p {
        font-size: 0.8rem;
    }

}

